<div class="container">
    <div class="corpo-div esquerda">
        <h1 class="title">Distribuir Atributos</h1>
        <p class="pontos-restantes">Pontos restantes: <span>{{ pontosRestantes }}</span></p>

        <div class="atributos-container">
            @for (atributo of atributoNames; track atributo) {
            <div class="atributo">
                <div>
                  <span class="titulo-box">{{ atributo | titlecase }}</span>: {{ atributos[atributo].total }}
                </div>
                <div class="atributo-box">
                    <button class="btn" (click)="retirarPonto(atributo)">-</button>
                    <span class="atributo-value">{{ atributos[atributo].atual }}</span>
                    <button class="btn" (click)="distribuirPonto(atributo)">+</button>
                </div>
            </div>
            }
        </div>

        <button class="reset-btn" [disabled]="pontosRestantes === maxPontos"
            (click)="continuar()">Continuar</button>
    </div>

    <div class="direita">
        <visualizar-atributos></visualizar-atributos>
    </div>
</div>
