<div class="placar">
  <div class="personagem">
    <span class="nome">Player</span>: <span class="vida" [ngClass]="{ 'damaged': playerRecebeuDano }">{{player.vida}}</span>
  </div>
  <div class="divisoria">|</div>
  <div class="personagem">
    <span class="nome">NPC</span>: <span class="vida" [ngClass]="{ 'damaged': npcRecebeuDano }">{{npc.vida}}</span>
  </div>
  <div> <button (click)="trocar()">Tela Atributos</button> </div>
  <div class="turno">Turno: <span class="turno-texto">{{ turno }}</span></div>
</div>

<!--<app-sprite [spriteWidth]="64" [spriteHeight]="64" [frameCount]="10"></app-sprite>-->

<div class="container">
  @switch (turno) {
    @case (Turno.NPC) {
      <player></player>
    }

    @case (Turno.PLAYER) {
      <div class="game-container">
        <npc class="esquerda" [npc]="npc"></npc>
        <personagem class="direita"></personagem>
      </div>
    }

    @case (Turno.ATRIBUTOS) {
      <distribuir-atributos></distribuir-atributos>
    }

    @case (Turno.FIMJOGO) {
      <fim-jogo></fim-jogo>
    }
  }
</div>
