NPC: {{npc.vida}} | Player: {{player.vida}} | <button (click)="mudarTurno()"></button>
<div class="body">
  <div *ngIf="!this._danoStorage.turno">
    <player [player]="player" (attackEmit)="efetuarAtaque(player)"></player>
  </div>
  
  <div *ngIf="this._danoStorage.turno">
    <npc [npc]="npc"></npc>
    <div style="width: 200px"></div>
    <duel-controls (attackEmit)="efetuarAtaque(npc)"></duel-controls>
  </div>
</div>

<dialog #modal [modalConfig]="modalConfig">
  ({{npc.vida}} > {{player.vida}}) ? 'npc ganhouo' : 'player ganhou'
</dialog>