<div class="placar">
  <div class="personagem">
    <span class="nome">Player</span>: <span class="vida" [ngClass]="{ 'damaged': playerRecebeuDano }">{{player.vida}}</span>
  </div>
  <div class="divisoria">|</div>
  <div class="personagem">
    <span class="nome">NPC</span>: <span class="vida" [ngClass]="{ 'damaged': npcRecebeuDano }">{{npc.vida}}</span>
  </div>
  <div class="turno">Turno: <span class="turno-texto">{{ turno }}</span></div>
</div>

<app-sprite [spriteWidth]="64" [spriteHeight]="64" [frameCount]="10"></app-sprite>

<div class="body">
  <div class="esquerda" *ngIf="turno === Turno.NPC">
    <player [player]="player"></player>
  </div>

  <div class="direita" *ngIf="turno === Turno.PLAYER">
    <npc [npc]="npc"></npc>
    <duel-controls></duel-controls>
  </div>
</div>

<button umClick *ngIf="exibirBotaoReset" class="button" (click)="resetGame()">Recomeçar Duelo!</button>