body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede a barra de rolagem */
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace; /* Fonte estilo máquina de escrever */
}

/* Container do menu */
.menu {
    background-color: #d2b48c; /* Cor de fundo marrom claro */
    padding: 10px 20px;
    border-bottom: 4px solid #8b4513; /* Borda marrom escuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Navegação do menu */
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza o menu horizontalmente */
}

/* Itens do menu */
.menu li {
    margin: 0 15px; /* Espaçamento entre itens */
}

/* Links do menu */
.menu a {
    text-decoration: none;
    color: #fff; /* Cor do texto branca */
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #d2691e; /* Borda marrom escuro */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

/* Efeito de hover para links */
.menu a:hover {
    background-color: #d2691e; /* Cor de fundo marrom escuro ao passar o mouse */
    color: #fff; /* Cor do texto branca */
}

/* Efeito ativo para o link selecionado */
.menu a.active {
    background-color: #a0522d; /* Cor de fundo marrom mais escuro */
    color: #fff; /* Cor do texto branca */
}

/* Estilo dos itens do menu com ícones (se necessário) */
.menu i {
    margin-right: 8px; /* Espaçamento entre ícone e texto */
    font-size: 20px; /* Tamanho do ícone */
}

.scrolling-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/bg-wildwest.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: 0 0;
  animation: scrollBackground 15s linear infinite;
  z-index: -1;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0; /* Move o fundo completamente para a esquerda */
  }
}
