
<div class="status-panel">
  <div class="status-header">
    <span class="">Nome: {{ npc.nome }}</span> <br>
    <span class="">Saúde: {{ npc.vida }}</span> <br>
    <span class="">Braço Forte: {{ npc.bracoForte }}</span>
  </div>
  <div class="status-body">
    <div class="status-item">
      <span class="status-label">Cabeça:</span>
      <span class="status-value">...</span>
    </div>
    <div class="status-item">
      <span class="status-label">Torso:</span>
      <span class="status-value">...</span>
    </div>
    <div class="status-item">
      <span class="status-label">Braço E:</span>
      <span class="status-value">...</span>
    </div>
    <div class="status-item">
      <span class="status-label">Braço D:</span>
      <span class="status-value">...</span>
    </div>
    <div class="status-item">
      <span class="status-label">Perna E:</span>
      <span class="status-value">...</span>
    </div>
    <div class="status-item">
      <span class="status-label">Perna D:</span>
      <span class="status-value">...</span>
    </div>
  </div>
</div>
