.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.direita, .esquerda {
  flex: 1;
  padding: 50px;
}

.esquerda {
  margin-top: 50px;
}


.tooltip-container {
  position: relative;
  display: inline-flex;
  place-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.tooltip-item {
  color: #3e2723;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.tooltip-item:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d8b484;
  color: #3e2723;
  padding: 8px;
  border: 2px solid #5d4037;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 0.9em;
}

