.sprite {
  width: 128px;
  height: 128px; 
  background-image: url('/assets/cowboy2.png');
  background-repeat: no-repeat;
  background-position: 128px 0; 
  
  animation: play 1s steps(4) infinite; 
}

@keyframes play {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -512px 0; 
  }
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0; 
  }
}
