<div class="pessoa">
  <div class="cabeca">
    <div class="circulo" (click)="openDialog('cabeca')">
    </div>
  </div>
  <div class="tronco">
    <div class="circulo" (click)="openDialog('torso')"></div>
    <div class="braco esquerdo">
      <div class="circulo" (click)="openDialog('bracos')">
      </div>
    </div>
    <div class="braco direito">
      <div class="circulo" (click)="openDialog('bracos')">
      </div>
    </div>
  </div>
  <div class="pernas">
    <div class="perna">
      <div class="circulo" (click)="openDialog('pernas')">
      </div>
    </div>
    <div class="perna">
      <div class="circulo" (click)="openDialog('pernas')">
      </div>
    </div>
  </div>
</div>

<dialog #modal [modalConfig]="modalConfig" (fecharEmit)="showDados()">
  <dados *ngIf="exibeDados$"></dados>
</dialog>
